<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Kendo UI Snippet</title>

    <link href="https://kendo.cdn.telerik.com/themes/6.7.0/default/default-main.css" rel="stylesheet" />
    <script src="js/jquery.min.js"></script>
    <link href="https://kendo.cdn.telerik.com/themes/6.7.0/default/default-main.css" rel="stylesheet" />
    <script src="js/jquery.min.js"></script>
    <script src="js/kendo.all.min.js"></script>
    <link href="https://kendo.cdn.telerik.com/themes/6.7.0/default/default-main.css" rel="stylesheet" />
    <script src="js/kendo.all.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.829/js/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/themes/6.7.0/default/default-main.css" />
    <script src="https://kendo.cdn.telerik.com/2023.2.829/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.829/mjs/kendo.all.js" type="module"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">
    <style>
        :root {
            --primary-hue: 180; /* Initial hue value */
        }

        body {
            background: linear-gradient(180deg, hsl(calc(var(--primary-hue) + 180), 70%, 80%), hsl(var(--primary-hue), 100%, 80%));
        }

        .detail {
            color: black;
            margin-top: 90px;
            text-align: center;
            height: 250px;
        }

        .color {
            color: white;
        }

        .heading {
            margin-top: 65px;
            margin-bottom: 20px;
            text-align: center;
        }

        .btn {
            margin-left: 430px;
            margin-bottom: 20px;
        }

        .img {
            margin-top: 40px;
            margin-bottom: 20px;
            height: 60px;
            width: 120px;
        }

        .searchInput {
            width: 360px;
            margin-left: 750px;
        }

        .nav-item {
            font-size: 15px;
        }

        .container {
            background: linear-gradient(180deg, hsl(calc(var(--primary-hue) + 180), 70%, 80%), hsl(var(--primary-hue), 100%, 80%));
        }
    </style>
</head>
<body>

    <div class="heading">
        <h2 class="mt-4">Best Laptop's</h2>
    </div>
    <div class=" mt-3">
        <input id="searchInput" type="text" class="form-control searchInput" placeholder="Search Laptop's...">
    </div>
    <div class="mt-4" id="listView"></div>

    <script type="text/x-kendo-tmpl" id="template">
        <div class="pro" >
            <div class="container" style="border:1px solid; mb-5 mt-2 mx-3">
                <div class="row">
                    <div class ="img mt-4 col-4" >
                    <dl>
                    <dd><img src="data:image/*;base64,#:product_Image#" height="260" width="330"></img></dd>
                    </div>

                    <div class ="detail col-4" >

                    <h2 class="header"><b>#:product_Name#</b></h3>
                    <h4>#:product_Detail#</h5><br>
                    <h5 class="fw-bold " >₹ #:product_Price#/-</h5>

                   </div>

                   <div class ="detail col-4" >

                    <h5 class="fw-bold ">#:product_warranty# Warranty</h5>
                    <dt class="fs-5 text-success">Product Available</dt><br>
                    <dt>Delivery by 1 May 2024, Thursday  </dt>
                    <dt>|| Free Delivery ||</dt>
                   <dt> !! 7 Days Replacement Policy !!</dt>
                   </dl></div>
                   <div >

                    <a id="myButton" class="buttun btn btn-info" href="/Add/CustomerDetails/#:id#" @* onclick="BuyNow('#:id#')" *@>BUY NOW</a>
                       <a id="" class="btn btn-danger ml-3" onclick="AddCart('#:id #','#: product_Name #','#: product_Detail #','#: product_Price #','#: product_warranty #')" >ADD CARD</a>
                       </div>
            </div>
        </div>

        <hr>
    </script>


   <script>
        $(document).ready(function () {
            $("#listView").kendoListView({
                template: kendo.template($("#template").html()),
                dataSource: {
                    transport: {
                        read: {
                            url: "/Add/ShowLaptop/",
                            dataType: "json"
                        }
                    },
                    schema: {
                        model: {
                            id: "id",
                            fields: {
                                id: { type: "number" },
                                product_Name: { type: "string" },
                                product_Price: { type: "string" },
                                product_Detail: { type: "string" },
                                product_warranty: { type: "string" },
                                product_key: { type: "number" },
                                product_Image: { type: "string" }
                            }
                        }
                    }
                },
                dataBound: function () {
                    attachSearchListener();
                }
            });
        });

        function attachSearchListener() {
            $("#searchInput").on("input", function () {
                var searchText = $(this).val().toLowerCase();

                $("#listView").find(".container").each(function () {
                    var productName = $(this).find(".header").text().toLowerCase();

                    if (productName.includes(searchText)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        }
    </script>

</body>
</html>
